h1 {
  text-align: center;
  font-size: 26px;
}
body {
  font-family: monospace;
  font-size: 14px;
}
p{
  text-align: center;
}

button {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.instructions {
  max-width: 400px;
  margin: 30px auto;
  padding: 5px; 
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 40px;
  padding: 20px;
}

.opponent-area {
  margin: 30px auto;
  padding: 20px;
  width: 100px;
  height: 100px;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

input {
  font-size: 20px;
  width: 150px;
  display: block;
  margin: 15px auto;
  padding: 5px;
  transition: width 0.4s ease-in-out;  
}

input:focus {
  width: 200px;
}

button {  
  font-size: 20px;
  display: block;
  margin: 15px auto;  
}

@media (min-width: 500px) {
  .container {
    margin: 50px auto;
    max-width: 800px;
    border: solid black;
    border-radius: 25px;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 10px auto;
    max-width: 800px;
    border: solid black;
    border-radius: 25px;
  }
}

@media (min-width: 500px) {
  #score-board {
    width: 100%;  
    display: grid;        
    grid-template-areas:
      'player-label round-label opponent-label'
      'player-score round-count opponent-score'; 
    font-size: 20px;
    justify-content: space-around;
    grid-row-gap: 10px;    
  }
}

@media (max-width: 500px) {
  #score-board {
    width: 100%;  
    display: grid;
    grid-template-areas:
      'round-label round-count'
      'player-label player-score'
      'opponent-label opponent-score';      
    font-size: 20px;
    padding: 8px;
  }
}

#player-score-label {
  grid-area: player-label;
  justify-self: center;
  width: 200px;
}
#player-score {
  grid-area: player-score;
  justify-self: center;  
}
#opponent-score-label {
  grid-area: opponent-label;
  justify-self: center;
  width: 200px;
}
#opponent-score {
  grid-area: opponent-score;
  justify-self: center;
}

@media (min-width: 500px) {
  #round-label {
    grid-area: round-label;
    justify-self: center;
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  #round-label {
    grid-area: round-label;
    justify-self: center;
    width: 200px;    
  }
}

#round-count {
  grid-area: round-count;
  justify-self: center;
}


.game-icon:hover {
  transform: scale(1.1);
}

#opponent-choice{
  font-size: 88px;
  color: red;
  text-align: center;
  line-height: 100px;
}

#game-board {
  display: none;
  transition: display 1s ease-in-out;
}

#game {
  display: block;
}

#end-game {
  display: none;
  text-align: center;
  font-size: 20px;
  margin-top: 180px;
}

#yes, #no {
  display: inline-block;
  margin: auto;
  width: 100px;
  text-align: center;
}

button:hover {
  opacity: 0.7;
}

#game-logger {
  display: none;
  max-width: 600px;
  margin: 30px auto;
  padding-left: 8px;
}