h1 {
  text-align: center;
  font-size: 26px;
}
body {
  font-family: monospace;
  font-size: 14px;
}
p{
  text-align: center;
}

button {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.instructions {
  max-width: 400px;
  margin: 30px auto;    
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 40px;
  padding: 20px;
}

.opponent-area {
  margin: 30px auto;
  padding: 20px;
  width: 100px;
  height: 100px;
  border: solid black;
  border-radius: 20px;
  text-align: center;
}

input {
  font-size: 20px;
  width: 20%;
  display: block;
  margin: 15px auto;
  padding: 5px;
  transition: width 0.4s ease-in-out;  
}

input:focus {
  width: 30%;
}

button {  
  font-size: 20px;
  display: block;
  margin: 15px auto;  
}

.container {
  margin: 50px auto;
  max-width: 800px;
  border: solid black;
  border-radius: 25px;
}

#score-board {
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  flex-wrap:wrap;
  font-size: 20px;
}

.col-left {
  padding-left: 30px;
  padding-bottom: 15px;
  width: 35%;
}

.col-right {
  padding-right: 30px;
  padding-bottom: 15px;
  width: 35%;
  text-align: right;  
}

.game-icon:hover {
  transform: scale(1.1);
}

#opponent-choice{
  font-size: 88px;
  color: red;
  text-align: center;
  line-height: 100px;
}

#game-board {
  display: none;
  transition: display 1s ease-in-out;
}

#game {
  display: block;
}

#end-game {
  display: none;
  text-align: center;
  font-size: 20px;
  margin-top: 180px;
}

#yes, #no {
  display: inline-block;
  margin: auto;
  width: 100px;
  text-align: center;
}

button:hover {
  opacity: 0.7;
}